
@{
    ViewBag.Title = "Cursuri";
}

<style>
    .container form {
        display: table;
    }

    .container input {
        display: table-cell;
    }

    .container label {
        display: table-cell;
    }

    .container p {
        display: table-row;
    }

    .mytable {
        display: table;
        width: 100%;
        height:100%;
        align-content: center;
    }

    .list {
        display: table-row;
    }

    .mytable p {
        display: table-cell;
    }
    .categ {
        width: 400px;
        border-bottom: solid;
        position: center;
        padding: 13px;
        border-color: #eee;
    }
</style>

@{
    var db = WADLAB4.Models.ApplicationDbContext.Create();
    var mySpecID = 1;
}
<h2>Cursuri pentru speializarea: @db.Specs.Where(m => m.id == mySpecID).First().Nume (student view)</h2>

<div class="cursuri-student">
    @{
        <label class="categ">Materie</label>
        <label class="categ">Credite</label>
        <label class="categ">Profesor</label>
        <label class="categ">Ore</label>
        <label class="categ">Semestru</label>
        for (int an = 1; an <= 4; an++)
        {
            <div class="mytable">
                <table>
                    <tr>@{
                        List<WADLAB4.Models.Materie> mats = db.Materii.Where(m => m.An == an && mySpecID == m.IDSpec).ToList();
                        foreach (var mat in mats)
                        {
                            <th><label class="categ">@mat.Nume</label></th>
                            <th><label class="categ">@mat.Credite</label></th>
                            <th><label class="categ">@mat.Profesor</label></th>
                            <th><label class="categ">@mat.TotalOre</label></th>
                            <th><label class="categ">@mat.Sem</label></th>
                        }
                    }
                    </tr>
                </table>
            </div>
        }
    }
</div>
<br /><br />

<h2>Cursuri(Teacher view)</h2>

@{
    var tName = "Gabriel Alienov";
}
<div class="cursuri-prof">
    <h2>Cursurile Mele (@tName):</h2>
    <div class="mytable">
        @{
            List<WADLAB4.Models.Materie> tmats = db.Materii.Where(m => m.Profesor == tName).ToList();
            foreach (var mat in tmats)
            {
                <label>Curs @mat.Nume:</label>
                <p>
                    Specializare: @db.Specs.Where(m => m.id == mat.IDSpec).First().Nume <br />
                    Nr Credite: @mat.Credite <br />
                    Nr Ore: @mat.TotalOre <br />
                    Link: <a href="https://www.google.com"> Here</a><br />
                </p>
                <br />
            }
        }
    </div>
    <h2>Upload Curs</h2>
    <div class="container">
        <form id="up-content" runnat="server">
            <p>
                <label>Numele Cursului: </label><input type="text" name="cname" runnat="server" />
            </p>
            <p>
                <label>ID Specializare Curs: </label><input type="number" name="cspec" runnat="server" /><br />
            </p>
            <p>
                <label>An Curs: </label><input type="number" min="1" max="4" name="can" runnat="server" /><br />
            </p>
            <p>
                <label>Semestru Curs: </label><input type="number" min="1" max="4" name="csem" runnat="server" /><br />
            </p>
            <p>
                <label>Nr Credite: </label><input type="number" min="1" max="15" name="ccred" runnat="server" /><br />
            </p>
            <p>
                <label>Nr Ore: </label><input type="number" min="2" max="30" name="core" runnat="server" /><br />
            </p>
            <p>
                <label>Fisier Curs: </label><input type="file" name="cfile" runnat="server" /><br />
            </p>
            <input type="submit" value="Upload Curs" runnat="server" onclick="AddCurs" /><br />
        </form>
    </div>
</div>