

@{
    ViewBag.Title = "Note";
}
<style>
    .mytable {
        display: table;
        width: 40%;
    }
    .mytable2 {
        display: table;
        width: 100%;
    }

        .mytable p {
            display: table-cell;
        }

    .container label {
        width: 20%;
    }
    .categ {
        width: 200px;
        border-bottom: solid;
        position: center;
        padding: 14px;
        border-color: #eee;
    }
    .camp {
        width: 200px;
        border-left: solid;
        padding: 10px;
        border-color: #eee;
    }
</style>

@{
    var db = WADLAB4.Models.ApplicationDbContext.Create();
}
<html>
<body>
    <asp:Textbox id="text1"/>
    <div class="student">
        <h2>Notele mele:(student view)</h2>
        <table class="mytable">
            <tr>
                <th class="categ">Materie</th>
                <th class="categ">Nota</th>
                <td></td>
            </tr>
            @{
                var myCnp = 2334455169803;
                List<WADLAB4.Models.Note> mygGrades = db.Grades.Where(m => m.Student == myCnp).ToList();

                if (mygGrades.Count != 0)
                {
                    foreach (var grd in mygGrades)
                    {
                        <tr>
                            <td class="camp">@grd.Materie</td>
                            <td class="camp">@grd.Calificativ</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>

    <div class="prof">
        <h2>Note(Teacher view)</h2>
        <table class="mytable2">
            <tr>
                <th class="categ">ID Nota</th>
                <th class="categ">Nume Prenume</th>
                <th class="categ">Materie</th>
                <th class="categ">Nota</th>
            </tr>
            @{
                List<WADLAB4.Models.Note> grade = db.Grades.ToList();
                foreach (var grd in grade)
                {
                    <tr>
                        <td class="camp">@grd.Id</td>
                        @{
                            List<WADLAB4.Models.Student> stud = db.Studenti.Where(m => m.CNP == grd.Student).ToList();
                        }
                        <td class="camp">@stud.First().Nume @stud.First().Prenume</td>
                        <td class="camp">@grd.Materie</td>
                        <td class="camp">@grd.Calificativ</td>
                    </tr>
                            }
            }
        </table>

        <h2>Introduceti Studentul si nota acestuia</h2><br /><br />
        <div class="container">
            <form id="Nota" runat="server">
                <p>
                    <label>CNP Student: </label><input type="number" id="cnp" runat="server" /> <br />
                </p>
                <p>
                    <label>Materia: </label><input type="text" id="nMat" runat="server" /><br />
                </p>
                <p>
                    <label>Nota: </label><input type="number" min="1" max="10" id="cnota" runat="server" /><br />
                </p>
                <button type="submit" value="Submit" runat="server" onclick="AddGrade">Upload nota student</button><br />
            </form>
        </div>
    </div>
</body>
</html>

