
@{
    ViewBag.Title = "Restante";
}

<style>
    .restante {
        display: table;
        width: 100%;
    }

        .restante p {
            display: table-row;
        }

        .restante label {
            display: table-cell;
            text-align: center;
        }

    #cell {
        display: table;
    }

        #cell label {
            display: table-cell;
            text-align: center;
        }

    #nota {
        text-align: center;
    }

    .mytable {
        width: 80%;
    }
</style>

@{
    var db = WADLAB4.Models.ApplicationDbContext.Create();
    var myCnp = 2334455169803;
}

<h2>Restante(student view)</h2>
<div class="restante">
    <h3>Restantele Mele:</h3>
    @{
        List<WADLAB4.Models.Note> myRest = db.Grades.Where(m => m.Calificativ < 5 && m.Student == myCnp).ToList();
        if (myRest.Count != 0)
        {
            <p>
                <div id="cell" class="btn btn-default">
                    <div id="nota">
                        @{
                            foreach (var grd in myRest)
                            {
                                <label>Materie: @grd.Materie </label>
                                <label> - Nota: @grd.Calificativ</label><br />
                            }
                        }
                    </div>
                </div>
            </p>
                            }
    }
</div>

<h2>Restante(teacher view)</h2>
@{
    var myMat = "Corelatii Complexe";
}
<div class="restante-prof">
    <h3>Materie: @myMat</h3>
    <table class="mytable">
        <tr>
            <th>Nume Student</th>
            <th>Nota</th>
        </tr>
        @{
            List<WADLAB4.Models.Note> grds = db.Grades.Where(m => m.Materie == myMat && m.Calificativ < 5).ToList();
            foreach (var grd in grds)
            {
                List<WADLAB4.Models.Student> stud = db.Studenti.Where(m => m.CNP == grd.Student).ToList();
                <tr>
                    <td>@stud.First().Nume @stud.First().Prenume</td>
                    <td>@grd.Calificativ</td>
                </tr>
            }
        }
    </table>
</div>