
@{
    ViewBag.Title = "Studenti";
}
<style>

    .mytable {
        width: 100%;
        top: 30px;
    }

    .camp {
        width: 200px;
        border-left: solid;
        padding: 10px;
        border-color: #eee;
    }

    .categ {
        width: 200px;
        border-bottom: solid;
        position: center;
        padding: 14px;
        border-color: #eee;
    }
</style>

@{
    var db = WADLAB4.Models.ApplicationDbContext.Create();
}

<h2>Studenti</h2>
<h3>Ordonare</h3>


<select class="button">
    <option value="s1">An</option>
    <option value="s2">Alfabetic</option>
    <option value="s3">Specializare</option>
</select>

@{
    List<WADLAB4.Models.Student> student = db.Studenti.ToList();
}

@for (int i = 1; i <= 4; i++)
{
    <h3> <b>Anul @(i)</b></h3>
    <table class="mytable">
        <tr>
            <th class="categ">Nume</th>
            <th class="categ">CNP</th>
            <th class="categ">Credite</th>
            <th class="categ">Specializare</th>
        </tr>
    </table>
    <table class="mytable">
        @foreach (var stud in student)
        {
            <tr>
                @if (stud.An == i)
                {


                    <th class="camp"> @stud.Nume @stud.Prenume</th>

                    <th class="camp">@stud.CNP</th>

                    <th class="camp">@stud.Credite</th>

                    <th class="camp"> @stud.Specializare</th>

                }
            </tr>
        }
    </table>
}