
@{
    ViewBag.Title = "Studenti";
}

<style>
    .mytable {
        width: 100%;
    }
</style>

@{ 
    var db = WADLAB4.Models.ApplicationDbContext.Create();
}

<h2>Studenti</h2>
<h3>Specializare:</h3>

<form runnat="server">
    @{ 
        List<WADLAB4.Models.Specializare> specs = db.Specs.ToList();

        foreach (var spec in specs)
        {
            <input runnat="server" type="radio" id="specch" name="special" value="spec.id" /><br />
        }
    }
    <button runnat="server" type="submit">See Students</button>
</form>

@{
    List<WADLAB4.Models.Student> studSpec = db.Studenti.Where(m => m.Specializare == Request.Form["specch"]).ToList();

    <table class="mytable">
        An 1<br />
        @foreach (var stud in studSpec)
        {
            <tr>
            @if (stud.An == 1)
            {
                <th>Nume: @stud.Nume @stud.Prenume</th><br />
                <th>CNP: @stud.CNP</th><br />
                <th>Credite: @stud.Credite</th><br />
            }
            </tr>
        }
        An 2<br />
        @foreach (var stud in studSpec)
            {
            <tr>
                @if (stud.An == 2)
                {
                    <th>Nume: @stud.Nume @stud.Prenume</th>
                    <br />
                    <th>CNP: @stud.CNP</th>
                    <br />
                    <th>Credite: @stud.Credite</th>
                    <br />
                }
            </tr>
        }
        An 3 <br />
        @foreach (var stud in studSpec)
            {
            <tr>
                @if (stud.An == 3)
                {
                    <th>Nume: @stud.Nume @stud.Prenume</th>
                    <br />
                    <th>CNP: @stud.CNP</th>
                    <br />
                    <th>Credite: @stud.Credite</th>
                    <br />
                }
            </tr>
        }
        An 4<br />
        @foreach (var stud in studSpec)
            {
            <tr>
                @if (stud.An == 4)
                {
                    <th>Nume: @stud.Nume @stud.Prenume</th>
                    <br />
                    <th>CNP: @stud.CNP</th>
                    <br />
                    <th>Credite: @stud.Credite</th>
                    <br />
                }
            </tr>
        }
    </table>
}
